
services:
  postgres_transacoes_bancarias:
    container_name: postgres_transacoes_bancarias
    image: postgres:16
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=transacoes_bancarias
    ports:
      - "54321:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5

  fastapi:
    container_name: fastapi
    image: joaopcamposs/transacoes_bancarias:latest
    build:
      context: ../
      dockerfile: Dockerfile
    depends_on:
      - postgres_transacoes_bancarias
    environment:
      - DB_HOST=postgres_transacoes_bancarias
      - DB_PASSWORD=password
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
    ports:
      - "8001:8000"
